.container-Card {
    margin: auto;
}

.card-Card {
    display: flex;
    width: 60vw;
    margin: 5%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px grey;
}

.card-Card > img {
    width: inherit;
    height: auto;
    max-width: 400px;
}

.card-Card > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}

.card-Card > div > * {
    text-wrap: pretty;
    font-size: large;
}

.card-Card > div > *:not(:first-child){
    margin-top: 5%;
}